body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#F8F8F8, #FFE2E2);
    color: #434343;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://c.tenor.com/6GIi9tonjeEAAAAd/parkour-the-office.gif");

}

#gift-img-genius:hover {
    background-image: url("https://c.tenor.com/CwSeqNYsYbEAAAAd/the-office.gif");

}

#gift-img-badass:hover {
    background-image: url("https://c.tenor.com/kWejy2kDcTwAAAAC/office.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://c.tenor.com/A-usPJNu8_AAAAAd/yes-right.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #434343;
    font-weight: bold;
}

